*{
  margin: 0px;
  padding: 0px;
}

.cuerpo {
    width: auto;
    height: auto;
}

.footer{
  position: absolute;
  bottom: 0;
  background: rgba(173,0,40,1);
  background: -moz-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,0,40,1)), color-stop(44%, rgba(143,0,33,1)), color-stop(88%, rgba(107,0,25,1)), color-stop(100%, rgba(107,0,25,1)));
  background: -webkit-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
  background: -o-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
  background: -ms-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
  background: linear-gradient(to bottom, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
  width: 100%;
  height: 5%;
  z-index: 999;
  text-align: right;
}

.copyright{
  postion: absolute;
  margin-right: 30px;
  margin-top: 12px;
  font-size: 8px;
  color: #ffff;
}

.cabecera {
    background: rgba(173,0,40,1);
    background: -moz-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,0,40,1)), color-stop(44%, rgba(143,0,33,1)), color-stop(88%, rgba(107,0,25,1)), color-stop(100%, rgba(107,0,25,1)));
    background: -webkit-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -o-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: linear-gradient(to bottom, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    width: 100%;
    height: 75px;
    padding-top: 2px;
    text-align: center;
    z-index:999 !important;
}

.cabecera img {
    width: 60px;
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}

.cabecera h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
    color: #FFFF;
}

.contenedor{
    min-height: 500px;
    min-width: 500px;
}
.mapContainer{
  position: absolute !important;
  width: 50%;
  height: 80%;
  margin-top: 10%;
  overflow: hidden;
}
#map{
  position:absolute;
  z-index: 0 !important;
}
.mapa {
    position: absolute !important;
    z-index: 0 !important;
    object-fit: contain;
    margin-top: 50px;

}
.opciones {
    background: rgba(173,0,40,1);
    background: -moz-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,0,40,1)), color-stop(44%, rgba(143,0,33,1)), color-stop(88%, rgba(107,0,25,1)), color-stop(100%, rgba(107,0,25,1)));
    background: -webkit-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -o-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    background: linear-gradient(to bottom, rgba(173,0,40,1) 0%, rgba(143,0,33,1) 44%, rgba(107,0,25,1) 88%, rgba(107,0,25,1) 100%);
    position: fixed;
    width: 250px;
    right: 0;
    margin-right: 20px;
    margin-top: 250px;
    text-align: center;
    border-radius: 7.5%;
    z-index: 999 !important;
}

.opciones h3 {
  padding: 10px 0px;
  font-size: 18px;
  color: yellow;

}

.mapa_global{
    margin-bottom: 10%;
    font-size: 20px;
}

.sos {
    right: 0;
    position: fixed;
    margin-right: 95px;
    margin-top: 50px;
    z-index: 999;
}

.sos: hover{
  background-color: rgba(115, 0, 25, 0.5);
  border-radius: 50%;
  color: white;
  border-color: rgba(115, 0, 25, 0.5);
}
.sos input {
    width: 100px;
    height: 100px;
    background-color: #bd0404;
    border-radius: 50%;
    color: white;
    border-color: #bd0404;
    font-size: 18px;
    font-weight: 800;
}

.coordenadas {
    margin-bottom: 20%;
}

.coordenadas input {
    margin: 5px;
}

/* CODIGO POPUP*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20%;
    right: 0;
    position: fixed;
    margin-right: 130px;
    margin-top: 40%;
    z-index:999;
}

.popup .popuptext {
    visibility: hidden;
    width: 290px;
    background-color: #555;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    bottom: 140%;
    left: -60%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup .li{
  padding-top: 5px
  padding-bottom: 5px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

li {
    margin-bottom: 10px;
}

@media (width = 750px){

    div{
        border: solid 1px red;
    }

}

/* FIN POPUP */


.cuerpo2 {
    font-size: 20px;
}
.cuerpo2 img{
    margin-left: 10px;
}

.comentarios textarea{
  width: 37%;
  height: 20%;
  height: 100px;
  margin-left: 30%;
  margin-top: 2%;
}
.comentarios_container{
  margin-top: 55px;

}
.gradient-box {
  display: flex;
  width: 40%;
  height: auto;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  color: #000;
  background: #f0f0f0;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 1em;
transition: background-color 3s ease-out, color 3s ease-out;
}
.gradient-box:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, red, orange);
}

.comentarios input {
    width: 10%;
    margin-left: 30%;
}

.comentarios p{
  padding: 15px;

}

.comentarios a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.gradient-box:hover{
    background-color:  #d68b91;
    color: white;
}

#titulo-hilo{
    font-weight: bold;
}

#comunidad-hilo{
    font-size: 80%;
    color: gray;
    font-weight: 500;
}

#fecha-hilo{
    font-size: 80%;
    color: #acbae5;
    font-weight: 400;
}
.tituloHilosComentarios{
    text-align: center;
    color: #A70026;
    font-size: 40px;
    font-weight: bold;
}

.opciones a{
    text-decoration: none;
    color: inherit;
}

#foro-link{
    font-weight: 600;
    font-size: 30px;
    margin: 0 25% 20px 25%;
    width: 50%;
    border: 2px solid black;
    background-color: #c1c401;
}

#foro-link:hover{
    font-weight: bold;
    font-size: 35px;
    color: white;
    background-color: #595900;
}

#comentar-comentario{
    font-weight: 600;
    font-size: 20px;
    margin: 0 40% 0 40%;
    width: 20%;
    border: 2px solid black;
    background-color: #c1c401;
}

#comentar-comentario:hover{
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #595900;
}
#slider{
    margin: 0 20px 0 20px;
    border: 2px solid #595900;
    background-color: #c1c401;
}
li{
    display: block;
}
li a:visited{
    color: yellow;
}